:root {
  --gray: hsl(0, 0%, 64%);
  --white: hsl(0, 0%, 98%);
  --black: hsl(0, 0%, 8%);
  --dark-gray: rgb(35, 35, 35);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark {
  --white: rgb(63, 17, 128);
  --black: #fff;
  --gray: rgb(227, 227, 227);
  --dark-gray: rgb(227, 227, 227);
}

body {
  min-height: 100vh;
  background-color: var(--white);
  font-family: "Epilogue", sans-serif;
}

.main {
  width: min(100%, 1400px);
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgba(81, 31, 207, 0.736), rgba(18, 16, 16, 0.561)),
    url(../assets/bg-black.webp);
}

.main__header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  z-index: 1000;
}

.header__logo {
  padding-top: 5px;
}

.header__btns {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}

.header__btns .header__menu:nth-child(2) {
  display: none;
}

.header__btns.active .header__menu:nth-child(2) {
  display: block;
}

.header__btns.active .header__menu:nth-child(1) {
  display: none;
}

.main__hero {
  width: 100%;
  padding: 1rem 0;
}

.hero__img {
  width: min(100%, 700px);
}

.hero__introduction {
  padding: 3rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.hero__title {
  font-weight: 700;
  font-size: 2.2rem;
  color: var(--white);
}

.hero__paragraph {
  color: var(--gray);
  line-height: 1.5;
  font-weight: 500;
}

.hero__cta {
  width: min(80%, 130px);
  margin: 0 auto;
  background-color: var(--white);
  border-radius: 15px;
  padding: 14px 19px;
  color: var(--black);
  text-decoration: none;
  font-weight: 500;
}

.hero__brands {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero__brand {
  width: 65px;
}

.navigation {
  position: absolute;
  top: 0;
  right: -100%;
  width: 65%;
  max-width: 240px;
  height: 100vh;
  padding: 4.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1.2rem;
  background-color: var(--white);
  transition: 0.5s;
}

.navigation.active {
  right: 0;
}

.navigation li {
  display: flex;
  align-items: center;
  list-style: none;
}

.navigation li .arrow {
  margin-left: 1rem;
  cursor: pointer;
}

.navigation li a {
  display: inline-flex;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  color: var(--dark-gray);
}

.expanded {
  flex-direction: column;
}

.expanded-btn {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.expanded__items {
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1rem 0;
  padding-bottom: 0.5rem;
  transition: 0.4s;
  list-style: none;
}

.expanded.d-none .expanded__items {
  max-height: 0px;
  position: relative;
  padding: 0;
  padding-left: 1.4rem;
  overflow: hidden;
  transition: 0.4s;
}

.expanded.d-none .arrow {
  transform: rotate(0deg);
}

.arrow {
  transform: rotate(180deg);
  transition: 0.5s;
}

.expanded__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 1rem;
}

.expanded__item img {
  width: 1.2rem;
  margin-right: 1rem;
}

.expanded.company {
  display: flex;
  align-items: flex-start;
}

.expanded__items.company {
  padding-left: 1.8rem;
}
