:root {
  --gray: #a3a3a3;
  --white: #fafafa;
  --black: #141414;
  --dark-gray: #696969;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.dark {
  --white: #333;
  --black: #fff;
  --gray: rgb(227, 227, 227);
  --dark-gray: rgb(201, 201, 201);
}

body {
  min-height: 100vh;
  font-family: "Epilogue", sans-serif;
  background-color: var(--white);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: min(100%, 1400px);
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.main__header {
  width: min(100%, 1400px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  z-index: 1000;
  margin: 0 auto;
}

.header__logo {
  padding-top: 5px;
}

.header__ctas {
  display: none;
}

.header__btns {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}

.header__btns .header__menu:nth-child(2) {
  display: none;
}

.header__btns.active .header__menu:nth-child(2) {
  display: block;
}

.header__btns.active .header__menu:nth-child(1) {
  display: none;
}

.main__hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.hero__img {
  width: min(100%, 375px);
  margin: 0 auto;
}

.hero__img--desktop {
  display: none;
}

.hero__introduction {
  padding: 3rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.hero__title {
  font-weight: 700;
  font-size: 2.1rem;
  color: var(--black);
}

.hero__paragraph {
  color: var(--dark-gray);
  line-height: 1.5;
  font-weight: 500;
}

.hero__cta {
  width: min(80%, 130px);
  margin: 0 auto;
  background-color: var(--black);
  padding: 14px 19px;
  color: var(--white);
  border-radius: 15px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  outline: 2px solid black;
  transition: background-color 0.7s;
}

.hero__cta:hover {
  outline: 2px solid var(--black);
  background-color: var(--white);
  color: var(--black);
  transition: background-color 0.7s;
}

.hero__brands {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero__brand {
  width: 65px;
}

.navigation {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 65%;
  max-width: 240px;
  height: 100vh;
  padding: 4.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1.2rem;
  background-color: var(--white);
  transition: 0.5s;
}

.navigation.active {
  right: 0;
}

.navigation li {
  display: flex;
  align-items: center;
  list-style: none;
}

.navigation li .arrow {
  margin-left: 1rem;
  cursor: pointer;
}

.navigation li a {
  display: inline-flex;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  color: var(--dark-gray);
}

.expanded {
  flex-direction: column;
}

.expanded-btn {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.expanded__items {
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1rem 0;
  padding-bottom: 0.5rem;
  transition: 0.4s;
  list-style: none;
}

.expanded.d-none .expanded__items {
  max-height: 0px;
  position: relative;
  padding: 0;
  padding-left: 1.4rem;
  overflow: hidden;
  transition: 0.4s;
}

.expanded.d-none .arrow {
  transform: rotate(0deg);
}

.arrow {
  transform: rotate(180deg);
  transition: 0.5s;
}

.expanded__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 1rem;
}

.expanded__item img {
  width: 1.2rem;
  margin-right: 1rem;
}

.expanded.company {
  display: flex;
  align-items: flex-start;
}

.expanded__items.company {
  padding-left: 1.8rem;
}

@media (min-width: 750px) {
  .main {
    position: relative;
    flex-direction: row-reverse;
    align-items: center;
  }

  .main__header {
    position: absolute;
    padding: 1.5rem;
  }

  .header__ctas {
    display: inline-flex;
    align-items: center;
    text-align: center;
    gap: 2.5rem;
    font-size: 14px;
  }

  .header__cta {
    text-decoration: none;
    font-weight: 500;
    color: var(--dark-gray);
  }

  .header__cta--register {
    width: 6.5rem;
    height: 2.625rem;
    border: 0.125rem solid var(--dark-gray);
    border-radius: 0.875rem;
    padding-top: 0.75rem;
    padding-bottom: 0.875rem;
    transition: 0.3s;
  }

  .header__cta:hover {
    color: var(--black);
    transition: 0.3s;
  }

  .header__cta--register:hover {
    border: 0.125rem solid var(--black);
    transition: 0.3s;
  }

  .header__btns {
    display: none;
  }

  .hero__img {
    display: none;
  }

  .hero__img--desktop {
    display: inline-block;
    max-width: 480px;
    max-height: 640px;
    flex-basis: 50%;
  }

  .main__hero {
    flex-basis: 50%;
    gap: 3rem;
    padding: 0 0.9rem 1rem 7rem;
  }

  .hero__introduction {
    gap: 2rem;
    text-align: left;
  }

  .hero__title {
    font-size: 5rem;
  }

  .hero__paragraph {
    padding: 1rem 4rem 1rem 0;
    font-size: 18px;
  }

  .hero__cta {
    width: 165px;
    padding: 1.05rem 1.3rem;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
  }

  .hero__brand {
    width: initial;
  }

  .navigation {
    display: none;
  }
}
